# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.java        text diff=java
*.html        text diff=html
*.xml         text
*.txt         text
*.md          text
*.properties  text
*.jelly       text

*.gif         binary
*.png         binary
